<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/public/css/menu.css" type="text/css">
    <link rel="stylesheet" href="/public/css/listView.css" type="text/css">


</head>
<%- include('html/menu.html') %>


<body style="background-color:#f7f9fc;">
    <p style="text-align: center; margin-top: 20px; font-size: 100px; color:rgb(255, 102, 102);">상품 목록</p>
    
 <div class="new-container">
     <div class="new-list">
    <% for(let i = 0; i < posts.length; ++i){ %>
         <div class="list-box" onclick="location.href='/items/detail/item?itemid=<%= posts[i]._id %>';">
             <div class="img-box">
                <img src = "/public/image/main/item/<%= posts[i].이미지 %>">
             </div>
             <div class="info-box" >
                <p><%= posts[i].상품 %> </p>
                <p><%= posts[i].가격 %></p>
             </div>
         </div>
    <%}%>
    

    <div class="page-box">


     </div>

 






<script>
    var 게시글총개수 = '<%= totalcount %>'  
   
    var view_num = 8; // 페이지 안에 보여줄 글의 개수
    var page_num = 5 ; //페이징을 몇개 단위씩 보여줄건지
    var paging;//페이징 계산 단위


    var page_limit = Math.ceil(게시글총개수 / view_num); // 총 페이지 개수

    var path = "";   
    var cur_page = $(location).attr('pathname').split('/')[4]  //현재 페이지

    
    if(cur_page > 1){  
        path = $(location).attr('pathname').split('/')[3];
        console.log(cur_page);
    }else{
        path = $(location).attr('search').split('=')[1];
        cur_page  = 1;
    }
      
   
    paging = page_num * Math.ceil(cur_page / page_num);
    start_paging = page_num * ( Math.ceil(cur_page / page_num) - 1 ) + 1;
    if(paging >= page_limit){
        paging = page_limit;
    }


    // 5 - > 10 -> 15
   
    for (let i = start_paging; i <= paging;  ++i){
        if(i == 1){
            $('.page-box').append(`<a class='num-link active-link' style="margin-right:5px" href="/items/list?way=${path}">${i}</a>`);
        }else{
            $('.page-box').append(`<a class='num-link' style="margin-right:5px" href="/items/list/${path}/${i}">${i}</a>`);
        }
    }

  
    
    //이전 버튼
    if(cur_page != 1){
        if(cur_page != 2){
            $('.page-box').prepend(`<a href="/items/list/${path}/${parseInt(cur_page)-1}"><</a>`);
        }else{
            $('.page-box').prepend(`<a href="/items/list?way=${path}"><</a>`);
        }
        
    }

    // 다음버튼
    if(cur_page < page_limit){
    $('.page-box').append(`<a href="/items/list/${path}/${parseInt(cur_page)+1}">></a>`);
    }


    //현재버튼 활성화
    if(cur_page > 1){ 
    $('.num-link').removeClass('active-link');
    $('.num-link').eq((cur_page % 5)-1).addClass('active-link');
    }



   
    

   
</script>

</body>

</html>


